{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h1>{{ 'user.index.title' | trans }}</h1>
        <table class="table table-condensed table-striped">
            <thead>
            <tr>
                <th>{{ 'user.full.name' | trans }}</th>
                <th>{{ 'user.role' | trans }}</th>
                <th>{{ 'user.date.of.birth' | trans }}</th>
                <th>{{ 'user.passport' | trans }}</th>
                <th>{{ 'user.mobile.number' | trans }}</th>
                <th>{{ 'user.email' | trans }}</th>
                <th>{{ 'options' | trans }}</th>
            </tr>
            </thead>

            <tbody>
            {% for person in user %}
                <tr>
                    <td><a href="{{ path('show_user', {'id': person.id}) }}">{{ person.getFullName }}</a></td>
                    <td>{{ person.getRole }}</td>
                    <td>{{ person.getDateOfBirth() | date('d.m.Y') }}</td>
                    <td>{{ person.getPassport }}</td>
                    <td>{{ person.getMobileNumber }}</td>
                    <td>{{ person.getEmail }}</td>

                    <td><a href="{{ path('delete_user', {'id': person.id}) }}">{{ 'delete.user' | trans }}</a></td>

                </tr>
            {% endfor %}
            </tbody>

        </table>
        <td><a href="{{ path('create_user')}}">{{ 'create.user' | trans }}</a></td>
    </div>
{% endblock %}
