{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>{{ 'new_user' | trans }}</h1>

        <p>{{ 'user.full.name' | trans }}: <strong>{{ user.fullName }}</strong></p>

        <p>{{ 'user.role' | trans }}: <strong>{{ user.role }}</strong></p>
        <p>{{ 'user.date.of.birth' | trans }}: <strong>{{ user.dateOfBirth() | date('d.m.Y') }}</strong></p>

        <p>{{ 'user.passport' | trans }}: <strong>{{ user.passport }}</strong></p>

        <p>{{ 'user.mobile.number' | trans }}: <strong>{{ user.mobileNumber }}</strong></p>
        <p>{{ 'user.email' | trans }}: <strong>{{ user.email }}</strong></p>


        <div class="card-footer">
            <a class="btn btn-dark" href="{{ path('update_user', {'id': user.id}) }}">{{ 'update' | trans }}</a>
        </div>

        <p class="text-left"><a href="{{ path('index_user') }}">{{ 'Вернуться к списку' | trans }}</a></p>

    </div>
{% endblock %}
